<app-formulario (carregar)="onClick()"></app-formulario>

<div class="container">
  <section class="card-deck d-flex flex-wrap justify-content-between">
    <div *ngFor="let tarefa of tarefas" class="card mb-4" style="width: 24%;">
      
        <div class="status card-header" [ngClass]="{'em-progresso': tarefa.status == 1, 
              'concluida': tarefa.status == 2, 
              'pausada': tarefa.status == 3}">
                <span *ngIf="tarefa.status == 1"> Em progresso </span>
                <span *ngIf="tarefa.status == 2"> Concluida </span>
                <span *ngIf="tarefa.status == 3"> Pausada </span>
        </div>

        <div class="card-body">
          <h5 class="card-title"> {{tarefa.titulo}}</h5>

          <div class="d-flex justify-content-between ">
            <div>
              <p class="card-text"><small class="text-muted">{{formatarData(tarefa.data)}}</small></p>
            </div>

            <div class="dropdown">
              <a class="btn-xl dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
              <ul class="dropdown-menu">

                <li  *ngIf="tarefa.status != 2"><a class="dropdown-item" (click)="atualizar(tarefa, 2)">Concluir</a></li>
                <li *ngIf="tarefa.status == 1"><a class="dropdown-item" (click)="atualizar(tarefa, 3)">Pausar</a></li>
                <li *ngIf="tarefa.status != 1"><a class="dropdown-item" (click)="atualizar(tarefa, 1)">Retomar</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" (click)="delete(tarefa)">Excluir</a></li>
              </ul>
            </div>
          </div>
        </div>
              
    </div>
  </section>

</div>
